<!--<div *ngIf="product">
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantitySold}}</td>
  <td>{{product.quantityInStock}}</td>
  <td><img src={{product.imagePath}} alt={{product.name}} /></td>
</div>

<div class="card" style="width: 20rem;">
  <div class="card-block">
    <h3 class="card-title">Special title treatment</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>-->

<div class="thumbnail">
  <img src={{product.p.imagePath}} alt={{product.p.name}}>
  <div class="caption">
    <h3>{{product.p.name}}</h3>
    <p>{{product.p.price}}</p>

    <p>
      <button class="btn btn-primary" role="button" (click)=showConfirm(product)>Edit</button>
    </p>
    <!--<div class="row">
      <div class="col-sm-4 text-right">
        <b>Confirm example: </b>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-default btn-block" (click)=showConfirm(product)>Show confirm</button>
      </div>
      <div class="col-sm-4" *ngIf="confirmResult != null">
        <span>Result: </span>
        <b [ngClass]="{'text-danger': !confirmResult, 'text-success': confirmResult}">{{confirmResult ? 'Accepted': 'Declined'}}</b>
      </div>
    </div>-->


  </div>
</div>