<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Edit'}}</h4>

    </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-addon">id</span>
        <input type="text" class="form-control" [(ngModel)] = "product.id" aria-describedby="basic-addon1" disabled>
      </div>
      <div class="input-group">
        <span class="input-group-addon">name</span>
        <input type="text" class="form-control" [(ngModel)] = "product.name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon">price</span>
        <input type="text" class="form-control" [(ngModel)] = "product.price" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon">quantitySold</span>
        <input type="text" class="form-control" [(ngModel)] = "product.quantitySold" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon">quantityInStock</span>
        <input type="text" class="form-control" [(ngModel)] = "product.quantityInStock" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon">imagePath</span>
        <input type="text" class="form-control" [(ngModel)] = "product.imagePath" aria-describedby="basic-addon1">
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
  </div>

</div>