<button class="btn btn-primary" role="button" (click)=createProduct()>Create Product</button>




<ngb-tabset>
  <ngb-tab title="All Products">
    <template ngbTabContent>

      <div class="row">
        <div class="col-sm-4 col-md-2" *ngFor="let item of Products">

          <app-products-card [product]="{p: item, s: sellerId}"></app-products-card>
        </div>
      </div>


    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle><b>Top 10</b></template>
    <template ngbTabContent>
      <div class="row">
        <div class="col-sm-4 col-md-2" *ngFor="let item of TopProducts">

          <app-products-card [product]="{p: item, s: sellerId}"></app-products-card>
        </div>
      </div>

    </template>
  </ngb-tab>
</ngb-tabset>