<p>
  details works!
</p>

<!--<table>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>quantitySold</th>
    <th>quantityInStock</th>
    <th>img</th>

  </tr>
  <tr *ngFor="let item of Products">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantitySold}}</td>
    <td>{{item.quantityInStock}}</td>
    <td><img src={{item.imagePath}} alt={{item.name}} /></td>
  </tr>
</table>-->

<!--<ngb-tabset>
  <ngb-tab title="Simple">
    <template NgbTabContent>
      pppp
      <div *ngFor="let item of Products">
        <app-products-card [product]="item">

        </app-products-card>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Stupid">
    <template NgbTabContent>
      aaa
      </template>
  </ngb-tab>
</ngb-tabset>-->



<ngb-tabset>
  <ngb-tab title="All Products">
    <template ngbTabContent>

      <div class="row">
        <div class="col-sm-4 col-md-2" *ngFor="let item of Products">
          <!--<div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>-->
          <app-products-card [product]="{p: item, s: sellerId}"></app-products-card>
        </div>
      </div>




      <!--<div *ngFor="let item of Products">
        <app-products-card [product]="item"></app-products-card>
      </div>-->
    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle><b>Top 10</b></template>
    <template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
        beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
        magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
        ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
        accusamus tattooed echo park.</p>
    </template>
  </ngb-tab>
</ngb-tabset>


<!--<ngb-tab title="Simple">
    <template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle><b>Fancy</b> title</template>
    <template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </template>
  </ngb-tab>-->