<p>
  details works!
</p>

<!--<table>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>quantitySold</th>
    <th>quantityInStock</th>
    <th>img</th>

  </tr>
  <tr *ngFor="let item of Products">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantitySold}}</td>
    <td>{{item.quantityInStock}}</td>
    <td><img src={{item.imagePath}} alt={{item.name}} /></td>
  </tr>
</table>-->

<div *ngFor="let item of Products">
  <app-products-card [product]="item">

  </app-products-card>
</div>